# Ignorer tous les dossiers node_modules partout dans le projet
node_modules/

# Ignorer les fichiers de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers de système d'exploitation
.DS_Store
Thumbs.db

# Ignorer les fichiers de build ou temporaires
dist/
build/
.temp/
.cache/

# Ignorer les fichiers d'éditeur
*.swp
*.swo
*.vscode/
.idea/

# Ignorer les fichiers environnementaux
.env
.env.local
.env.*.local

# Ignorer les fichiers spécifiques aux tests si tu en as besoin
coverage/
*.test.*

# Ignorer les fichiers personnels ou autres fichiers sensibles
*.bak
*.old

package-lock.json
